chardet
chromadb==0.6.3
sentence_transformers
langchain
langchain-huggingface
langchain-chroma
langchain-ollama
langchain-openai
langchain_community
tqdm
prettytable
nltk
pypdf
llama-index
llama-index-core
llama-index-vector-stores-chroma
llama-index-embeddings-langchain
